<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="business">
        <dubbo:parameter key="qos.enable" value="false"/>
    </dubbo:application>

    <dubbo:registry id="dubboRegistry" protocol="zookeeper" address="localhost:2181"/>

    <dubbo:reference timeout="50000"
                     interface="com.example.account.service.AccountService" id="accountService"
                     retries="0" check="false" actives="20" loadbalance="hmilyRandom" registry="dubboRegistry"/>
</beans>
